@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
}
.container-cos{
    max-width: 1540px;
    margin: 0 auto;
}
.service-blog-1{
    text-align: right;
    font-family: 'Poppins';
}
.service-blog-1 h3{
    font-weight: 700;
    font-size: 72px;
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 24px;
}
.service-blog-1 p{
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #3F3F3F;
    margin-bottom: 20px;
}
@media (min-width:300px) and (max-width:767px) {
    .container-cos{
        width: 98%;
    }
    .service-blog-1 h3{
        font-size: 26px;
        text-align: center;
    }
    .service-blog-1 p {
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .container-cos {
        width: 95%;
    }

    .service-blog-1 h3 {
        font-size: 30px;
        text-align: right;
    }

    .service-blog-1 p {
        font-size: 16px;
        text-align: right;
    }
}




.service-blog-2{
    margin-top: 100px;
}
.service-blog-2 h2{
    font-weight: 700;
    font-size: 40px;
    background: linear-gradient(91.57deg, #0057FF 20.67%, #39C1DF 34.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.row-ser{
    margin-top: 48px !important;
}

.service-blog-img{
    width: 667px;
    height: 460px;
    margin: 0 auto;
}
.service-blog-img-text p{
    padding-left: 70px !important;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #3F3F3F;
}

@media (min-width:300px) and (max-width:767px) {
    
        .service-blog-2 h2 {
            text-align: center;
            font-size: 20px;
        }
    
        .row-ser {
            margin-top: 48px !important;
        }
    
        .service-blog-img {
            width: 100%;
            height: 290px;
            margin: 0 auto;
        }
    
        .service-blog-img-text p {
            padding-left: 0px !important;
            font-size: 16px;
            text-align: center;
            line-height: 18px;
        }
}

@media (min-width:768px) and (max-width:1023px) {
                .service-blog-2 h2 {
                    font-size: 30px;
                }
                    .row-ser {
                    margin-top: 45px !important;
                }

                .service-blog-img {
                    width: 95%;
                    height: 330px;
                    margin: 0 auto;
                }
            
                .service-blog-img-text p {
                    padding-left: 0px !important;
                    font-size: 12px;
                    line-height: 18px;
                }
}

.service-blog-3{
    margin-top: 100px;
}
.service-blog-3-bg{
    background: url('./images/error-bg.png');
    width: 1540px;
    height: 360px;
    margin-top: 40px;
}
.service-blog-3-bg p{
    padding: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.expertise{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(91.57deg, #0057FF 45.67%, #39C1DF 70.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media (min-width:300px) and (max-width:767px){
    .service-blog-3-bg {
        background: none;
        width: 100%;
    }

    .service-blog-3-bg p {
        padding: 20px;
        font-size: 16px;
        color: #3F3F3F;
        line-height: 25px;
    }

    .expertise {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .service-blog-3-bg {
            width: 100%;
        }
    
        .service-blog-3-bg p {
            padding: 67px;
            font-size: 20px;
            color: #ffffff;
            line-height: 25px;
        }
    
        .expertise {
            font-size: 30px;
            line-height: 30px;
        }
}

.service-blog-4{
    margin-top: 100px;
}
.service-blog-4 h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.service-blog-4 p{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #3F3F3F;
    margin-top: 32px;
}
@media (min-width:300px) and (max-width:767px){
.service-blog-4 h2 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 250px;
}

    .service-blog-4 p {
        font-size: 16px;
    }
}
@media (min-width:768px) and (max-width:1023px){
.service-blog-4 h2 {
        font-size: 30px;
        margin-top: 100px;
    }

    .service-blog-4 p {
        font-size: 20px;
    }
}

.sp-service-blog{
    margin-top: 48px;
}
.sp-box-service{
    margin-top: 40PX;
}
.sp-box-service h5{
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    color: #3F3F3F;
}
.sp-box-service p{
    margin-top: 16px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #3F3F3F;
}

@media (min-width:300px) and (max-width:767px) {
    .sp-box-service h5 {
            font-size: 16px;
        }
    
        .sp-box-service p {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
}
}

@media (min-width:768px) and (max-width:1023px) {
        .sp-box-service h5 {
                font-size: 28px;
            }
        
            .sp-box-service p {
                margin-top: 16px;
                font-size: 16px;
                line-height: 22px;
            }
}

@media (min-width:1024px) and (max-width:1440px) {
    .container-cos {
        width: 90%;
        margin: 0 auto;
    }
    .service-blog-1 h3{
        font-size: 56px;
    }
    .service-blog-3-bg {
        background: url(./images/error-bg.png);
        width: 100%;
        height: 360px;
    }
    .service-blog-3-bg p{
        padding: 55px;
    }
    .service-blog-img-text{
        padding-left: 90px !important;
    }
    .service-blog-img-text p{
        font-size: 16px;
    }
}
@media (min-width:1024px) and (max-width:1280px) {
    .service-blog-3-bg p{
        font-size: 16px;
        padding: 75px;
    }
}
